@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
$primary:rgb(113, 44, 177);
$secondary:rgb(253, 253, 253);
$glow:rgb(251, 255, 29);
$grey:rgb(185, 185, 185);
